alembic
aniso8601
click
flask
flask-marshmallow
flask-migrate
flask-restful
flask-sqlalchemy
flask-wtf
greenlet
importlib-metadata
importlib-resources
itsdangerous
jinja2
mako
markupsafe
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
pytz
six
sqlalchemy
werkzeug
wtforms
zipp
uwsgi